name: Run Lints & Tests

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev
jobs:
  linter:
    strategy:
      matrix:
        go-version: [1.19.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - name: Install Required Dependencies
        run: go mod tidy -compat=1.19
      - name: Tests
        run: make tests